@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100%;
  overflow-x: hidden;
  background: black;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide the standard scrollbar for Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For Edge and Internet Explorer */
body {
  -ms-overflow-style: none;
}

/* .bottom-nav{
 box-shadow: 0px 0px 10px 0px rgba(52, 64, 84, 0.14);
}

.searchbar{
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.04), 0px 3px 10px -2px rgba(16, 24, 40, 0.06);
} */

.selected {
  /* Add any additional styles for the selected state */
  outline: double;
  outline-width: 2px;
  outline-color: #656569;
  outline-offset: 0.25rem;
}
